<br>
<br>
<br>
{{product.model}}<br> {{product.price}}
<p><img class="image1" src={{product.image}}></p>
 {{update-product product=product update="update"}}
<button {{action 'delete' product}}>Delete listing</button>
