<li>
  {{#link-to 'product' product}}{{product.model}} <br>
  {{product.currency}} {{product.price}}{{/link-to}}
  <p><img class="image" src={{product.image}}></p>

<button {{action 'addToCart' product}}>Add to Cart</button>
</li>
